# Old scripts for compiling
compile
hpc_compile

# Backup folder
backup
update.log
do_backup.py

# VS Code settings
code/.vscode
.vscode

# Test cases
test_cases/CMEMS*hires
test_cases/gof_250m_3d/data/hydro

# Compiled code
bin
build
code/*.mod
code/mod
code/obj

# Syncing scripts
sync_from_base.sh
sync_to_base.sh
copy_test_cases.sh
check_last_log.sh
sync.log
